{% extends 'layout/base' %}
{% block content %}
<div class="min-h-screen flex flex-col items-center justify-center bg-neutral-800 text-white">
    <h1 class="text-4xl">
        <span>&lt;</span>404<span>/&gt;</span>
    </h1>
    <p class="">Page not found</p>
    <a class="text-blue-500 hover:underline mt-4"
        href="/">Back to home</a>
</div>
{% endblock %}